#menu_btn:checked {
    color: var(--color-on-primary);
}

.counters-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.counters-row h2 {
    font-size: 2.5em;
    margin: 0 0 5px 0;
    color: var(--color-secondary);
}

.feature.center {
    flex-direction: column;
    gap: 0;
}

.skills-row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.skills-row>div {
    padding: 10px 15px;
}

.skills-row .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-200);
    color: var(--color-primary);
    font-size: 20px;
}

.skills-row h3 {
    margin: 10px 0 0 0;
}

.users-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 20px;
}

.users-row>div {
    padding: 20px 25px;
    background-color: #f9f9f9;
}

.users-row img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.users-row h3 {
    margin-bottom: 5px;
}

.users-row h4 {
    margin-top: 0;
}

.users-row nav {
    display: flex;
    gap: 15px;
    font-size: 1.5em;
    color: #a5a5a5;
    justify-content: center;
}

.brands>nav {
    display: flex;
    column-gap: 50px;
    row-gap: 15px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

#companies_section>nav>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    color: #667085;
    font-weight: bold;
}

@media only screen and (max-width:600px) {
    .users-row,
    .skills-row {
        display: flex;
        flex-direction: column;
    }
}

header {
    font-family: Catamaran;
}

#hero_section {
    font-family: Catamaran;
}

#hero_section h1 {
    font-family: Catamaran;
    font-size: 3.3em;
    font-weight: 600;
    line-height: 70px;
}

#hero_section p {
    font-size: 1.2em;
}

#companies_section {
    font-family: Catamaran;
}

#about_section {
    font-family: Catamaran;
}

#about_section h1 {
    font-size: 3.3em;
    line-height: 65px;
    font-weight: 600;
}

#skills_section {
    font-family: Catamaran;
}

#skills_section h1 {
    font-size: 3em;
}

#users_section {
    font-family: Catamaran;
}

#users_section h1 {
    font-size: 3.3em;
}

.brands {
    font-family: Catamaran;
}

footer {
    font-family: Catamaran;
}

@media only screen and (max-width:600px) {
    #hero_section h1 {
        font-size: 35px;
        line-height: 45px;
    }
    #hero_section p {
        font-size: 18px;
    }
    #about_section h1 {
        font-size: 35px;
        line-height: 45px;
    }
    #skills_section h1 {
        font-size: 35px;
        line-height: 45px;
    }
    #users_section h1 {
        font-size: 35px;
        line-height: 45px;
    }
}